@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  overflow-anchor: none;
  font-size: 16px;
  scroll-behavior: smooth;
}

html.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  flex: 0 0 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main ul {
  margin-left: 10px;
}

.main li {
  padding-left: 10px;
  position: relative;
  margin-bottom: 5px;
}
.main li:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--blue);
}
.main li:last-child {
  margin-bottom: 0;
}

input,
button,
textarea {
  font: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: none;
  min-width: 10px;
}

label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

select {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

:root {
  --white: #fff;
  --blue: #002e3c;
  --yellow: #ffd700;
  --dark-blue: #002530;
  --light-blue: #7f959d;
  --grey: #f1efed;
}

.header {
  background-color: var(--blue);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}

.header-content {
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 55px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__list li {
  margin-left: 27px;
}
.nav__list li:first-child {
  margin-left: 0;
}
.nav__list li a {
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  transition: all 0.3s ease 0s;
}
.nav__list li a:hover {
  color: var(--yellow);
}

.contacts {
  margin-top: -10px;
  margin-bottom: -40px;
}
.contacts__wrapper {
  background-color: var(--white);
  padding: 35px 20px 25px;
}
.contacts__phone-link {
  color: var(--blue);
  font-variant-numeric: lining-nums;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  white-space: nowrap;
}
.contacts__mail-link {
  color: var(--blue);
  font-variant-numeric: lining-nums;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  white-space: nowrap;
}

.social {
  display: none;
  align-items: center;
}
.social__item {
  display: flex;
  width: 52px;
  height: 52px;
  margin-left: 40px;
}
.social__item:first-child {
  margin-left: 0;
}
.social__svg {
  color: #7f959d;
}

.burger {
  display: none;
  align-items: center;
}
.burger__menu {
  display: flex;
  justify-content: flex-start;
  width: 25px;
  height: 20px;
  position: relative;
  z-index: 13;
}
.burger__menu span {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translate(0, -50%);
  transition: transform 0.3s ease-in-out;
}
.burger__menu::before, .burger__menu::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger__menu::before {
  top: 0;
}
.burger__menu::after {
  bottom: 0;
}

.burger.menu-active .burger__menu::before, .burger.menu-active .burger__menu::after {
  top: 9px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger.menu-active .burger__menu::before {
  transform: rotate(45deg);
}
.burger.menu-active .burger__menu::after {
  transform: rotate(-45deg);
}
.burger.menu-active .burger__menu span {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  min-height: 600px;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-content {
  position: relative;
  z-index: 5;
}

.main-title h1 {
  color: var(--yellow);
  font-variant-numeric: lining-nums;
  font-size: calc(40px + 56 * (100vw / 1200));
  font-weight: 700;
  line-height: 120%;
}
.main-title__subtitle {
  color: var(--white);
  font-variant-numeric: lining-nums;
  font-size: calc(24px + 24 * (100vw / 1200));
  font-weight: 700;
  line-height: 120%;
}

.main-btn {
  display: flex;
}
.main-btn__wrapper {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: var(--yellow);
  padding: 15px 35px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.main-btn__wrapper:hover {
  background-color: var(--blue);
}
.main-btn__wrapper:hover .main-btn__link, .main-btn__wrapper:hover .main-btn__svg {
  color: var(--white);
}
.main-btn__wrapper:hover .main-btn__svg {
  margin-left: 30px;
  margin-right: -20px;
}
.main-btn__link {
  color: var(--dark-blue);
  text-align: center;
  font-variant-numeric: lining-nums;
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.main-btn__svg {
  max-width: 40px;
  min-width: 40px;
  height: 8px;
  color: var(--dark-blue);
  margin-left: 10px;
  transition: all 0.3s ease 0s;
}

.hero .main-btn {
  margin-top: 40px;
}

.section-services {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.services__block {
  padding-top: 100px;
}
.services__header {
  display: flex;
  max-width: 720px;
}
.services__header-text {
  background-color: var(--white);
  color: var(--blue);
  font-variant-numeric: lining-nums;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}
.services__content {
  display: flex;
  justify-content: space-between;
}
.services__content-title {
  margin-right: 20px;
  width: 100%;
  max-width: 380px;
}
.services__content-title-item {
  color: var(--yellow);
  font-variant-numeric: lining-nums;
  font-size: calc(40px + 8 * (100vw / 1200));
  font-weight: 700;
  line-height: 120%;
  position: sticky;
  top: 100px;
  text-transform: uppercase;
}
.services__content-title-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 380px;
  height: 2px;
  background: var(--yellow);
}
.services__content-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 730px;
  margin-right: -10px;
}
.services__item {
  display: flex;
  align-items: flex-end;
  margin-top: 28px;
}
.services__item:first-child {
  margin-top: 0;
}
.services__text {
  width: 100%;
}
.services__title {
  color: var(--blue);
  font-variant-numeric: lining-nums;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 18px;
}
.services__list {
  margin-left: 90px;
  color: var(--blue, #002E3C);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 23px;
}
.services__price {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  position: relative;
}
.services__price:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}
.services__unprice {
  color: var(--blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.services__price-summ {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 10px;
}
.services__currency {
  color: var(--blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.services__img {
  width: 100%;
  max-width: 380px;
  height: 280px;
  overflow: hidden;
}
.services__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services__btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.section-services .services__header-text {
  padding: 75px 130px 0px;
  margin-top: -135px;
  margin-left: -135px;
  margin-bottom: 0 !important;
}

.section-keramik {
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.keramik {
  padding: 120px 0;
  overflow-x: hidden;
}
.keramik__content {
  background-color: var(--blue);
}
.keramik__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.keramik__body {
  display: flex;
  justify-content: space-between;
  padding: 220px 0 90px 100px;
}
.keramik__body-inner {
  width: 50%;
  max-width: 350px;
}
.keramik__title {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: calc(35px + 13 * (100vw / 1200));
  font-weight: 700;
  line-height: 120%;
  position: absolute;
  top: 75px;
  left: 20px;
  z-index: 2;
  max-width: 500px;
}
.keramik__subtitle {
  color: var(--white, #FFF);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
}
.keramik__text {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
}
.keramik__text ul {
  margin-left: 0px;
}
.keramik__text li {
  padding-left: 25px;
  margin-bottom: 20px;
}
.keramik__text li:after {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--white);
}
.keramik__btn {
  margin-top: 30px;
}
.keramik__btn .main-btn__wrapper {
  border: 1px solid var(--yellow);
}
.keramik__btn .main-btn__wrapper:hover .main-btn__link {
  color: var(--yellow);
}
.keramik__img {
  display: none;
  justify-content: center;
  align-items: center;
}
.keramik__img img {
  max-width: 100%;
}

.keramik-swiper {
  position: absolute;
  right: -200px;
  top: 50%;
  transform: translate(0, -50%);
  min-width: 0;
}

.keramik-slider {
  display: flex;
  height: 960px;
}
.keramik-slider__slide {
  width: auto;
  height: auto;
}
.keramik-slider__slide:hover .keramik-slider__content img {
  transform: scale(1.1);
}
.keramik-slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.keramik-slider__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.keramik-pagination .swiper-pagination-bullet {
  background: #c3c3c3;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.keramik__body-wrapper {
  display: flex;
  justify-content: space-between;
}

.keramik-thumb-slider {
  width: 50%;
  position: relative;
  right: -10px;
  bottom: -150px;
  z-index: 1;
  margin-left: 20px;
}

.keramik-thumb-swiper {
  max-width: 400px;
  z-index: 1;
}
.keramik-thumb-swiper__slide {
  width: auto;
}
.keramik-thumb-swiper__text {
  width: 80%;
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
.keramik-thumb-swiper__text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--white);
}
.keramik-thumb-swiper__text-body {
  max-width: 210px;
}
.keramik-thumb-swiper__img {
  display: flex;
  justify-content: flex-end;
}
.keramik-thumb-swiper__img-body {
  width: 300px;
  height: 300px;
}
.keramik-thumb-swiper__img-body img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-blocks {
  position: relative;
  z-index: 1;
  background-color: var(--white);
  padding-bottom: 120px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.block {
  padding: 10px;
  width: 33.333%;
}
.block.active .block__wrapper_item1, .block.active .block__wrapper_item2, .block.active .block__wrapper_item3 {
  opacity: 1;
  transform: translate(0, 0);
}
.block__wrapper {
  padding-bottom: 30px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.block__wrapper_item1 {
  opacity: 0;
  transform: translate(0, 120%);
  transition: all 0.8s ease 0s;
}
.block__wrapper_item2 {
  opacity: 0;
  transform: translate(0, 120%);
  transition: all 0.8s ease 0.4s;
}
.block__wrapper_item3 {
  opacity: 0;
  transform: translate(0, 120%);
  transition: all 0.8s ease 0.8s;
}
.block__image {
  height: 250px;
  margin-bottom: 20px;
}
.block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block__content {
  position: relative;
  z-index: 1;
}
.block__title {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 10px;
}
.block__text {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
}
.block__body-number {
  display: flex;
}
.block__number {
  border: 9px solid var(--yellow);
  border-radius: 50%;
  position: absolute;
  right: -50px;
  bottom: -38px;
  color: var(--yellow);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
  padding: 15px 40px;
}

.services__header-text {
  margin-bottom: 40px;
}

.section-belt {
  display: flex;
  position: relative;
  z-index: 1;
  background-color: var(--yellow);
  padding: 35px 0;
  overflow: hidden;
}

.section-belt-content {
  display: flex;
  justify-content: space-between;
}

.right,
.left {
  position: relative;
  width: 100%;
}
.right img,
.left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.right:before,
.left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3) 0%;
}

.right {
  transform: translate(120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.right.active {
  opacity: 1;
  transform: translate(0%, 0%);
}

.left {
  transform: translate(-120%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.left.active {
  opacity: 1;
  transform: translate(0%, 0%);
}

.right:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: var(--white);
  z-index: 2;
}

.belt {
  width: 100%;
}
.belt__header {
  display: flex;
  justify-content: flex-end;
}
.belt__logo {
  display: flex;
}
.belt__logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 75px;
}
.belt__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.belt__text-header {
  color: var(--blue);
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.belt__text-body {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.belt__content {
  padding-bottom: 60px;
}
.belt__title {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: calc(40px + 8 * (100vw / 1200));
  font-weight: 700;
  line-height: 120%;
  max-width: 700px;
  margin-bottom: 25px;
}
.belt__btn {
  margin-top: 55px;
}
.belt__btn .main-btn__wrapper {
  background-color: var(--white);
  padding: 15px 35px 15px 65px;
}
.belt__btn .main-btn__wrapper:hover {
  background-color: var(--blue);
}
.section-video {
  position: relative;
  z-index: 1;
  background-color: var(--white);
  padding: 120px 0;
  overflow: hidden;
}

.video-slider {
  margin-top: 15px;
}
.video-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.video-slider__slide:hover .video-slider__content img {
  transform: scale(1.05);
}
.video-slider__content {
  width: 100%;
}
.video-slider__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

video.video {
  width: 100%;
}

.video-content {
  margin-bottom: 55px;
}

.video-slider .swiper-slide,
.foto-slider .swiper-slide {
  max-width: 100%;
  position: relative;
}
.video-slider .swiper-slide:after,
.foto-slider .swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.section-video .services__content-title {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-video .services__content-title-item {
  width: 100%;
  max-width: 380px;
}
.section-video .services__content-title-item:after {
  width: 100%;
}

.slider-svg {
  color: var(--blue);
}

.swiper-navigation {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 140px;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-prev:hover .slider-svg,
.swiper-button-next:hover .slider-svg {
  color: var(--yellow);
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  margin-top: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.video-slider .swiper-slide:hover:after,
.foto-slider .swiper-slide:hover:after {
  opacity: 0;
}

.foto-gallery {
  min-width: 0;
}

.foto-slider {
  margin-top: 15px;
}
.foto-slider__slide {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.foto-slider__slide:hover .foto-slider__img img {
  transform: scale(1.05);
}
.foto-slider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.foto-slider__text {
  position: absolute;
}
.foto-slider__text_text-top {
  top: 15px;
  right: 50px;
  color: var(--yellow);
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  z-index: 3;
}
.foto-slider__text_text-right {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  top: 40px;
  right: 15px;
  z-index: 3;
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}
.foto-slider__text_bottom {
  bottom: 15px;
  right: 15px;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  z-index: 3;
}
.foto-slider__text_bottom span {
  vertical-align: super;
}
.foto-slider__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease 0s;
}

.section-reviews {
  background-color: var(--white);
  position: relative;
  z-index: 1;
  padding-bottom: 120px;
  overflow: hidden;
}

.reviews-head .services__header-text {
  margin-bottom: 10px;
}

.reviews-head__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reviews-slider {
  margin: 25px 0 0 !important;
}
.reviews-slider__slide {
  width: auto;
  max-width: 100%;
}
.reviews-slider__content {
  display: flex;
  width: 100%;
  max-width: 380px;
}

.section-partners {
  position: relative;
  z-index: 1;
  background-color: var(--white);
}

.wrap__content {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 20px;
}
.wrap__content:hover .marquee {
  animation-play-state: paused;
}
.wrap__body {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  min-width: 100%;
}
.wrap__item {
  transition: all 0.2s ease 0s;
}
.wrap__item:hover {
  transform: scale(1.05);
}

.item {
  background: #ccc;
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  counter-increment: item;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
}

.item .item:before {
  content: counter(item);
}

.marquee {
  animation: scroll 20s linear infinite;
}

.perfscan {
  margin: 20px 0;
  text-align: center;
  bottom: 0;
  background: #fff;
  padding: 5px;
}

.perfscan hr {
  border: solid #999;
  border-width: 1px 0 0 0;
  max-width: 50%;
  margin: 0 auto 20px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.bluerow {
  position: relative;
  z-index: 1;
  background-color: var(--white);
  padding: 120px 0;
}

.bluerow .container {
  padding: 0;
}

.bluerow-content {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 90px;
  position: relative;
  transform: translate(-120%, 0%);
  transition: all 0.8s ease 0s;
  opacity: 0;
}
.bluerow-content.active {
  transform: translate(0%, 0%);
  opacity: 1;
}
.bluerow-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--blue);
}
.bluerow-content__body {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.bluerow-content__title {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
}
.bluerow-content__subtitle {
  color: var(--white);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
}
.bluerow-content__btn .main-btn__wrapper {
  border: 1px solid var(--yellow);
}
.bluerow-content__btn .main-btn__wrapper:hover .main-btn__link, .bluerow-content__btn .main-btn__wrapper:hover .main-btn__svg {
  color: var(--yellow);
}

.section-team {
  overflow: hidden;
}

.team-body {
  position: relative;
}
.team-body__header {
  width: 100px;
  position: absolute;
  width: 120px;
  top: 50px;
}
.team-body__header-title {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  position: relative;
}
.team-body__header-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--yellow);
}
.team-body__container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.team-body__wrapper-items {
  flex-flow: row wrap;
}
.team-body__item-body {
  width: 100%;
  max-width: 180px;
  height: 300px;
  overflow: hidden;
}
.team-body__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
.team-body__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-worker {
  margin-right: -120px;
}
.main-worker__item {
  background-color: var(--yellow);
  height: 100%;
}
.main-worker__img {
  display: flex;
  justify-content: flex-end;
  height: auto;
}
.main-worker__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-worker__title {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 20px;
  text-align: right;
}
.main-worker__text {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 22px;
  font-weight: 400;
  line-height: 120%;
}
.main-worker__text-body {
  width: 100%;
  padding: 90px 0;
  max-width: 280px;
  margin: 0 auto;
}

.box-1,
.box-2,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9,
.box-10,
.box-11,
.box-12 {
  transform: translate(0%, 80%);
  transition: all 0.8s ease 0s;
  opacity: 0;
}
.box-1.active,
.box-2.active,
.box-4.active,
.box-5.active,
.box-6.active,
.box-7.active,
.box-8.active,
.box-9.active,
.box-10.active,
.box-11.active,
.box-12.active {
  transform: translate(0%, 0%);
  opacity: 1;
}

.box-3 {
  transform: translate(0%, -80%);
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.box-3.active {
  transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
}

.section-form {
  padding: 120px 0;
}

.form-title {
  display: flex;
  margin-bottom: 40px;
}
.form-title__title {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: calc(40px + 8 * (100vw / 1200));
  font-weight: 700;
  line-height: 120%;
}

.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__wrapper input[type=text],
.form__wrapper input[type=tel] {
  width: 100%;
  border: 1px solid var(--blue);
  padding: 15px 20px;
}
.form__label-block {
  width: 100%;
  max-width: 280px;
  margin-right: 20px;
}
.button {
  width: 100%;
  max-width: 280px;
}
.button__link {
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  padding: 15px 35px;
  border-radius: 35px;
  overflow: hidden;
}

.checkbox {
  display: flex;
  margin-top: 20px;
  position: relative;
  align-items: self-start;
}
.checkbox__input {
  appearance: none;
  position: absolute;
  width: auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 3;
}
.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}
.checkbox__label {
  padding-left: 25px;
  color: var(--blue);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  z-index: 1;
}
.checkbox__label:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--blue);
  background-color: var(--white);
}
.checkbox__label:after {
  display: block;
  content: "";
  width: 8px;
  height: 5.7px;
  background: url("../../img/svg/check.svg") no-repeat center top/cover;
  position: absolute;
  top: 3px;
  left: 2px;
  z-index: 0;
  opacity: 0;
}

.footer {
  background: var(--grey);
  padding: 75px 0;
  overflow: hidden;
}

.footer-content__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content__column {
  display: flex;
  flex-direction: column;
}
.footer-content__column .social {
  display: flex;
  margin-bottom: 10px;
}
.footer-content__column .social__item {
  margin-left: 15px;
}
.footer-content__column .social__item:first-child {
  margin-left: 0;
}
.footer-content__column .social__svg {
  color: var(--blue);
}
.footer-content__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer-content__item:last-child {
  margin-bottom: 0;
}
.footer-content__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.footer-content__links {
  display: flex;
  margin-bottom: 10px;
}
.footer-content__link {
  display: flex;
  margin-left: 15px;
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
}
.footer-content__link:first-child {
  margin-left: 0;
}
.footer-content__copyright {
  color: var(--blue);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 400;
  line-height: 130%;
}

.contact {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  transition: all 0.3s ease 0s;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
}
.contact:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.contact.open {
  opacity: 1;
  visibility: visible;
}
.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popup-body {
  width: 100%;
  max-width: 530px;
  background-color: var(--white);
  position: relative;
  z-index: 2;
  padding: 60px 80px;
  position: relative;
}
.popup-body__header {
  color: var(--yellow);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.popup-body__header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--yellow);
}

.close-popup {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
}
.close-popup:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  transform: translate(0, -50%) rotate(45deg);
}
.close-popup:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  transform: translate(0, -50%) rotate(-45deg);
}

.popup-form__label-block {
  border: 1px solid var(--blue);
  background: var(--white);
  margin-bottom: 20px;
}
.popup-form__input {
  padding: 15px 20px;
}

.popup-button {
  display: flex;
  margin-top: 30px;
}
.popup-button__link {
  color: var(--white);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 15px;
  font-weight: 700;
  line-height: 130%;
  background-color: var(--blue);
  border-radius: 35px;
  overflow: hidden;
  padding: 15px 35px;
  width: 100%;
  max-width: 280px;
}

/* @media (max-width: 1240px) */
@media (max-width: 1200px) {
  .services__list {
    margin-left: 0;
  }

  .bluerow-content {
    padding: 75px 20px;
  }

  .team-body__container {
    max-width: 775px;
    margin: 0 auto;
  }
}
@media (max-width: 1040px) {
  .main-worker {
    margin-right: 0;
  }

  .team-body__header {
    margin-bottom: 15px;
    position: static;
  }
  .team-body__container {
    max-width: 100%;
  }
  .team-body__img {
    height: 140px;
  }
}
/* @media (max-width: 960px) */
@media (max-width: 960px) {
  .burger {
    display: flex;
  }

  .navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 10;
    overflow-y: auto;
    transition: all 0.3s ease 0s;
    justify-content: flex-start;
  }
  .navigation:before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 75px;
    background-color: var(--blue);
    z-index: 2;
    transition: all 0.3s ease 0s;
  }
  .navigation:after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    z-index: -1;
    transition: all 0.3s ease 0s;
  }
  .navigation.menu-active {
    left: 0;
  }
  .navigation.menu-active:before {
    left: 0;
  }
  .navigation.menu-active::after {
    left: 0;
  }

  .nav {
    padding: 110px 80px 35px;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 65px;
    border-bottom: 2px solid var(--light-blue);
  }
  .nav__list li {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .nav__list li:last-child {
    margin-bottom: 0;
  }
  .nav__list li a {
    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
  }

  .social {
    display: flex;
  }

  .contacts {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contacts__wrapper {
    padding: 40px 0;
    background-color: transparent;
  }
  .contacts__phone {
    margin-bottom: 20px;
  }
  .contacts__phone-link {
    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
  }
  .contacts__mail-link {
    color: var(--white);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
  }

  .services__block:first-child {
    padding-top: 0;
  }
  .services__content {
    flex-direction: column;
    margin-right: -10px;
  }
  .services__content-title {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .services__content-title-item:after {
    width: 70%;
  }
  .services__content-inner {
    max-width: 100%;
  }

  .section-services .services__header-text {
    padding: 75px 100px 0px;
    margin-left: -100px;
  }

  .keramik__body {
    padding: 120px 0;
    flex-direction: column;
  }
  .keramik__title {
    position: static;
    margin-bottom: 35px;
  }
  .keramik__body-inner {
    max-width: 100%;
  }
  .keramik__btn {
    margin-top: 60px;
  }
  .keramik__btn .main-btn {
    justify-content: center;
  }

  .keramik-swiper {
    margin-top: 70px;
    position: static;
    transform: translate(0, 0);
  }

  .keramik-slider {
    height: auto !important;
    margin-right: -10px;
    padding-bottom: 55px;
  }

  .keramik-thumb-slider {
    bottom: 0;
  }

  .keramik-thumb-swiper {
    max-width: 100%;
  }
  .keramik-thumb-swiper__text {
    width: 100%;
  }
  .keramik-thumb-swiper__img-body {
    width: 245px;
    height: 245px;
  }

  .block {
    width: 100%;
  }
  .block__wrapper {
    display: flex;
    padding-bottom: 0;
  }
  .block__image {
    min-width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .belt__header {
    margin-bottom: 45px;
  }

  .services__block {
    padding-top: 80px;
  }

  .keramik,
.section-video {
    padding: 80px 0;
  }

  .section-blocks,
.section-reviews {
    padding-bottom: 80px;
  }

  .bluerow-content {
    flex-direction: column;
  }
  .bluerow-content__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .team-body__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .team-body__item-body {
    max-width: 100%;
  }
  .team-body .box-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .section-form {
    padding: 100px 0;
  }

  .form__wrapper {
    flex-direction: column;
  }
  .form__label-block {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .checkbox {
    margin-top: 0;
  }

  .footer-content__column_contacts {
    margin-bottom: 40px;
  }

  .block__wrapper_item1,
.block__wrapper_item2,
.block__wrapper_item3 {
    opacity: 0;
    transform: translate(0, 120%);
    transition: all 0.8s ease 0s;
  }
}
/* @media (max-width: 768px) */
@media (max-width: 768px) {
  .main-title h1 {
    font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 320px) / 1200));
  }
  .main-title__subtitle {
    font-size: calc(24px + (24 + 24 * 0.7) * ((100vw - 320px) / 1200));
  }

  .services__content-title-item {
    font-size: calc(40px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
  }

  .keramik__title {
    font-size: calc(35px + (13 + 13 * 0.7) * ((100vw - 320px) / 1200));
  }

  .belt__title {
    font-size: calc(40px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
  }

  .form-title__title {
    font-size: calc(40px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
  }
}
/* @media (max-width: 520px) */
@media (max-width: 640px) {
  .services__header-text {
    text-align: center;
  }
  .services__header {
    max-width: 100%;
  }
  .services__item {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .services__img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .services__content {
    margin-right: 0;
  }
  .services__content:first-child {
    padding-top: 0;
  }
  .services__content-title-item:after {
    width: 100%;
  }

  .section-services .services__header-text {
    padding: 100px 0px 20px;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .nav {
    padding: 110px 35px 35px;
  }

  .keramik__body-wrapper {
    flex-direction: column-reverse;
  }
  .keramik__body-inner {
    margin-top: 70px;
    width: 100%;
    max-width: 100%;
  }

  .keramik-thumb-slider {
    width: 100%;
    margin-left: 0;
    right: 0;
  }

  .keramik-thumb-swiper {
    width: 100%;
  }
  .keramik-thumb-swiper__text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .keramik-thumb-swiper__text:after {
    display: none;
  }
  .keramik-thumb-swiper__text-body {
    width: 50%;
    max-width: 100%;
    position: relative;
    padding: 15px 30px;
  }
  .keramik-thumb-swiper__text-body:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -50px;
    width: 180%;
    height: 2px;
    background: var(--white);
  }
  .keramik-thumb-swiper__img {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .keramik-thumb-swiper__img-body {
    width: 100%;
  }
  .keramik-thumb-swiper__img-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .keramik-thumb-swiper__content {
    display: flex;
    width: 100%;
    max-width: 100%;
  }

  .block__image {
    height: 185px;
  }

  .swiper-navigation {
    display: none;
  }

  .team-body__container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .team-body .box-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .form-title {
    text-align: center;
  }

  .footer-content__wrapper {
    flex-direction: column;
  }
  .footer-content__column .social {
    justify-content: center;
  }
  .footer-content__logo {
    margin-bottom: 50px;
    width: 220px;
    height: 115px;
  }
  .footer-content__links {
    justify-content: center;
  }

  .main-worker__text-body {
    padding: 30px 0;
  }
}
@media (max-width: 480px) {
  .keramik {
    padding: 100px 0;
  }
  .keramik__btn {
    margin-top: 50px;
  }
  .keramik__body-inner {
    margin-top: 60px;
  }
  .keramik__body {
    padding: 100px 0;
  }

  .keramik-swiper {
    margin-top: 60px;
  }

  .keramik-slider {
    margin-left: -10px;
    padding-bottom: 35px;
  }
  .keramik-slider__content {
    width: 100% !important;
  }

  .keramik-thumb-swiper__text {
    position: static;
    margin-bottom: 0;
  }
  .keramik-thumb-swiper__text-body {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0px;
  }
  .keramik-thumb-swiper__text-body:after {
    width: 60%;
    left: -10px;
    bottom: -35px;
  }
  .keramik-thumb-swiper__content {
    flex-direction: column;
  }
  .keramik-thumb-swiper__img {
    width: 100%;
    justify-content: flex-end;
  }
  .keramik-thumb-swiper__img-body {
    max-width: 210px;
    height: 210px;
  }

  .block__wrapper {
    flex-direction: column;
  }
  .block__image {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .block__text {
    font-size: 18px;
  }

  .swiper-content {
    margin: 0 -15px;
  }

  .section-partners {
    padding: 0 10px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .wrap__body {
    flex-wrap: wrap;
    gap: 0;
    min-width: auto;
    flex-shrink: inherit;
    margin: -10px;
    justify-content: flex-start;
  }
  .wrap__body:nth-child(2) {
    display: none;
  }
  .wrap__item {
    width: 50%;
    padding: 10px;
  }
  .wrap__content {
    gap: 0;
  }

  .marquee {
    animation: none;
  }

  .team-body__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-body .box-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
/* @media (max-width: 375px) */
@media (max-width: 320px) {
  .main-title h1 {
    font-size: 40px;
  }
  .main-title__subtitle {
    font-size: 24px;
  }

  .services__content-title-item {
    font-size: 40px;
  }

  .keramik__title {
    font-size: 35px;
  }

  .belt__title {
    font-size: 40px;
  }

  .form-title__title {
    font-size: 40px;
  }
}
/* @media min-width */
/* @media (max-width: 1200px) */
@media (min-width: 1200px) {
  .main-title h1 {
    font-size: 96px;
  }
  .main-title__subtitle {
    font-size: 48px;
  }

  .services__content-title-item {
    font-size: 48px;
  }

  .keramik__title {
    font-size: 48px;
  }

  .belt__title {
    font-size: 48px;
  }

  .form-title__title {
    font-size: 48px;
  }
}
/* @media (min-width: 991px) */
@media (min-width: 960px) {
  .keramik {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  .keramik__content {
    flex: 0 0 100%;
  }
  .keramik__container {
    display: flex;
    justify-content: flex-end;
  }
  .keramik__body {
    width: 75%;
  }
  .keramik__img {
    display: flex;
    z-index: 1;
    flex: 0 0 calc(((100vw - 20px) * 0.25) + 10px);
    transform: translate(100%, 0);
    position: relative;
  }
  .keramik__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .team-body__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .team-body__item-body {
    max-width: 100%;
  }
  .team-body .box-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
/* @media (min-width: 761px) */
@media (min-width: 1199px) {
  .keramik__img {
    flex: 0 0 calc(100vw - (((100vw - 1200px) / 2) + ((1200px - 20px) * 0.75) + 20px));
  }
}
/* @media (min-width: 520px) */
/* @media (min-width: 375px) */